<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CMSEntities" connectionString="metadata=res://*/Entity.CMSModel.csdl|res://*/Entity.CMSModel.ssdl|res://*/Entity.CMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=##your-data-source##;initial catalog=##your-database##;persist security info=True;user id=##your-data-user##;password=##your-data-password##;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>