<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="CMSEntities" 
        connectionString="metadata=res://*/Entity.CMSModel.csdl|res://*/Entity.CMSModel.ssdl|res://*/Entity.CMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=##your-live-data-source##;initial catalog=##your-live-database##;persist security info=True;user id=##your-live-data-user##;password=##your-live-data-password##;multipleactiveresultsets=True;App=EntityFramework&quot;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace"></customErrors>
  </system.web>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@example.co.uk" xdt:Transform="Replace">
        <network host="127.0.0.1" enableSsl="false" defaultCredentials="false" port="25" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>