<div class="contactus">
    <h2>Contact Us</h2>
    <p>
        <strong>Address:</strong><br />
        Hostpipe Ltd<br />
        Suite B1/B2 Stroud House<br />
        Russell Street<br />
        Stroud<br />
        Gloucestershire<br />
        GL5 3AN
    </p>
    <p>
        <strong>Tel:</strong><br />
        @ViewBag.Telephone
    </p>
    <p>
        <strong>Email:</strong><br />
        <a href="mailto:@ViewBag.Email" title="Email @ViewBag.CompanyName">@ViewBag.Email</a>
    </p>
    <p>
        <strong>Contact Form</strong><br />
        Or use our handy <a href="@ViewBag.ContactUsUrl" title="Contact Us">Contact Form</a>
    </p>
</div>
