@model List<CMS.BL.Entity.tbl_Portfolio>
@{string lastPortfolioCatTitle = "";}


<ul >
    @foreach (var portfolio in Model)
    {
        <li>
            <a href="@(ViewBag.PortfolioUrl + portfolio.PO_Link)" title="View @portfolio.PO_Title">
                @if (portfolio.tbl_PortfolioImage != null)
                {
                    foreach(var portfolioImage in portfolio.tbl_PortfolioImage.OrderBy(pi => pi.PI_Order).Take(1))
                    {
                        <img src="@Html.ImageProvider(CMS.BL.ImageVersionName.portfolio, portfolioImage.tbl_Image.I_Thumb,String.Empty)" alt="@portfolio.PO_Title" class="img-responsive" />
                    }
                }
            </a>
        </li>
        lastPortfolioCatTitle = portfolio.tbl_PortfolioCategory.POC_Title;
    }
</ul>
