<div class="container">
    <table id="pricing" class="table table-bordered">
        <thead>
            <tr>
                <th id="pricing-heading">Breeze</th>
                <th id="pricing-heading">fresh</th>
                <th id="pricing-heading">super minte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="price-plan-1">
                    <h1>$19.99</h1>
                    <span>Monthly</span></td>
                <td id="price-plan-2">
                    <h1>$29.99</h1>
                    <span>Monthly</span></td>
                <td id="price-plan-3">
                    <h1>$49.99</h1>
                    <span>Monthly</span></td>
            </tr>
            <tr>
                <td id="pricing-cell">Limited Usage</td>
                <td id="pricing-cell">Limited Usage</td>
                <td id="pricing-cell">Unlimted Usage</td>

            </tr>
            <tr>
                <td id="pricing-cell">1 Account</td>

                <td id="pricing-cell">5 Accounts</td>
                <td id="pricing-cell">10 Accounts</td>
            </tr>
            <tr>
                <td id="pricing-cell">
                    <button type="button" class="btn btn-large btn-block ">Order now</button></td>
                <td id="pricing-cell">
                    <button type="button" class="btn btn-large btn-block">Order now</button></td>
                <td id="pricing-cell">
                    <button type="button" class="btn btn-large btn-block">Order now</button></td>

            </tr>
        </tbody>
    </table>
</div>
