@model CMS.UI.Models.LoginModel
@{
    ViewBag.Title = "Forgotten Password";
}
@section metatags {
    @{Html.RenderPartial("/Views/Partials/MetaTags.cshtml", new CMS.UI.Models.MetadataModel());}
}
@section sidebar {
    @{
        Html.RenderPartial("../Partials/SearchPanel");
        Html.RenderAction("ContactUsPartial", "Website");
    }
}
<form method="POST" class="webForm">
    <h1>Password Reset</h1>
    @if (!(bool)this.ViewBag.MailSent)
    {
        <div>
            Please enter your registered email address below and click <b>"Reset Password"</b>. Your password will be reset and emailed to you.
        </div>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="noLabel">
            @Html.ValidationSummary(false)
        </div>
        <div class="noLabel">
            <input type="submit" value="Reset Password" />
        </div>
    }
    else
    {
        <div>
            Your new password has been sent to your registered Email address. Please allow up to
            an hour for the email to arrive.
        </div>
    }
    <div class="noLabel"><a href="@Url.RouteUrl("Login")">Go to Login »</a> </div>
</form>
