@{
    ViewBag.Title = "Subscribe";
}
@section metatags {
    @{Html.RenderPartial("/Views/Partials/MetaTags.cshtml", new CMS.UI.Models.MetadataModel());}
}
@section scripts {
    @Scripts.Render("~/bundles/otherLibs")
    @Scripts.Render("~/bundles/subscriptionManager")
}
@section sidebar {
    @{
        Html.RenderPartial("../Partials/SearchPanel");
        Html.RenderAction("ContactUsPartial", "Website");
    }
}
<div class="subscribe">
    <h1>Subscribe our newsletter and stay in touch with our latest offers</h1>
    <div id="SubscribeForm" class="subscribeForm" data-savesubscription-url="@Url.Action("Subscribe", "Website")">
        <form action="#" method="post" data-bind="visible: !successSubscription()">
            <input type="email" data-bind="value: emailSubscription" placeholder="Enter your email address here"
                   data-val="true" data-val-email="Email Address should have correct email form."
                   data-val-required="Email is required" />
            <input type="submit" data-bind="click: saveSubscription" value="Subscribe" />
        </form>
        <div data-bind="visible: successSubscription">
            <h3>
                Thank you for subscribe to our newsletter!
            </h3>
        </div>
        <div data-bind="visible: errorSubscription">
            There was an error on server saving your newsletter. Please try again later.
        </div>
    </div>
</div>