<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color:#000000;font-size:14px;font-weight: bold;">Contact request</p>
    #foreach( $ITEM in $FORMITEMS )
    <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color:#000000;font-size:14px;">
        $ITEM.Key : $ITEM.Value
    </p>
    #end
</body>
</html>