<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color:#000000;font-size:14px">You requested a password reminder</p>
    <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color:#000000;font-size:14px">Your password: $PASS</p>

    <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;color:#000000;font-size:14px">You can login by visiting: <a href="http://${DOMAIN}${PATH}">http://${DOMAIN}${PATH}</a></p>
</body>
</html>
