<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Hello,</p>

    <p>A new comment has been added against your post:<br>
    $POSTLINK</p>

    <p>Please click here to view and authorise comments:<br>
    $ADMINLINK</p>

    <p>Best regards,<br>
    $COMPANYNAME Blog<br>
    <a href="http://$DOMAIN">http://$DOMAIN</a></p>
</body>
</html>
