<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        Dear $FULLUSERNAME,</p>
    <p>
        Thank you for registering with $COMPANY</p>
    <p>
        Your email: $USEREMAIL</p>
    <p>
        Yours Sincerely,</p>
    <p>
        $COMPANY Customer Services<br />
        $PHONE<br />
       <a href="$DOMAIN">$DOMAIN</a></p>
</body>
</html>
