<div class="contact">
    <div class="address">
        <h3>Address</h3>
        <p>
            Quisque Ltd<br />
            Aliquam consequat est<br />
            Cras tempus<br />
            Quisque<br />
            Maecenaseu<br />
            GV5 3RD
        </p>
    </div>
    <div class="phone">
        <h3>Telephone</h3>
        <p>
            @ViewBag.Telephone
        </p>
        <h3>Email</h3>
        <p><a href="mailto:@ViewBag.Email" title="Email @ViewBag.CompanyName">@ViewBag.Email</a></p>
        <h3>Contact Form</h3>
        <p>Or use our handy <a href="@ViewBag.ContactUsUrl" title="Contact Us">Contact Form</a></p>
    </div>
</div>
