<!-- This example shows you how to configure most of the built in options -->
<configuration>
	<configSections>
		<section name="FileManagerPlugin" type="Moxiecode.Manager.ConfigHandler,MCManager" requirePermission="false" />
		<section name="CorePlugin" type="Moxiecode.Manager.ConfigHandler,MCManager" requirePermission="false" />
	</configSections>

	<FileManagerPlugin>
		<plugins>
			<plugin class="Moxiecode.Manager.Plugins.FavoritesPlugin,FavoritesPlugin" />
			<plugin class="Moxiecode.Manager.Plugins.HistoryPlugin,HistoryPlugin,HistoryPlugin" />
			<plugin class="Moxiecode.Manager.Authenticators.SessionAuthenticator,SessionAuthenticator" />
			<plugin class="Moxiecode.Manager.Authenticators.ASPNETAuthenticator,ASPNETAuthenticator" />
			<plugin class="Moxiecode.Manager.Authenticators.IPAuthenticator,IPAuthenticator" />
			<plugin class="Moxiecode.Manager.Plugins.ExternalAuthenticator,ExternalAuthenticator" />
		</plugins>

		<config>
			<!-- General options -->
			<add key="general.theme" value="fm" />
			<add key="general.language" value="en" />
			<add key="general.user_friendly_paths" value="true" />
			<add key="general.tools" value="createdir,createdoc,refresh,zip,upload,edit,rename,cut,copy,paste,delete,selectall,unselectall,view,download,insert,addfavorite,removefavorite" />
			<add key="general.disabled_tools" value="" />
			<add key="general.encrypt_paths" value="true" />
			<add key="general.remember_last_path" value="false" />
			<add key="general.demo" value="false" />
			<add key="general.debug" value="false" />
			<add key="general.allow_export" value="demo,tools,disabled_tools,debug" />
			<add key="general.allow_override" value="*" />

			<!-- Preview options -->
			<add key="preview" value="true" />
			<add key="preview.wwwroot" value="" />
			<add key="preview.urlprefix" value="{proto}://{host}/" />
			<add key="preview.urlsuffix" value="" />
			<add key="preview.include_file_pattern" value="" />
			<add key="preview.exclude_file_pattern" value="" />
			<add key="preview.extensions" value="*" />
			<add key="preview.allow_export" value="urlprefix,urlsuffix" />
			<add key="preview.allow_override" value="*" />

			<!-- General file system options -->
			<add key="filesystem" value="LocalFileFactory" />
			<add key="filesystem.path" value="" />
			<add key="filesystem.rootpath" value="../../../../docs" />
			<add key="filesystem.datefmt" value="yyyy-MM-dd HH:mm" />
			<add key="filesystem.include_directory_pattern" value="" />
			<add key="filesystem.exclude_directory_pattern" value="/^mcith$/i" />
			<add key="filesystem.invalid_directory_name_msg" value="Error: The name of the directory is invalid." />
			<add key="filesystem.include_file_pattern" value="" />
			<add key="filesystem.exclude_file_pattern" value="/(^\.|^mcic_)/i" />
			<add key="filesystem.invalid_file_name_msg" value="Error: The name of the file is invalid." />
			<add key="filesystem.extensions" value="gif,jpg,pdf,htm,html,php,png,zip,swf,flv,avi,mpg,rm,dcr,mov" />
			<add key="filesystem.file_templates" value="${rootpath}/templates/document.htm,${rootpath}/templates/another_document.htm" />
			<add key="filesystem.directory_templates" value="${rootpath}/templates/directory,${rootpath}/templates/another_directory" />
			<add key="filesystem.readable" value="true" />
			<add key="filesystem.writable" value="true" />
			<add key="filesystem.delete_recursive" value="true" />
			<add key="filesystem.force_directory_template" value="false" />
			<add key="filesystem.list_directories" value="true" />
			<add key="filesystem.clean_names" value="true" />
			<add key="filesystem.allow_export" value="extensions,readable,writable,file_templates,directory_templates,force_directory_template,clean_names" />
			<add key="filesystem.allow_override" value="*" />

			<!-- Upload options -->
			<add key="upload.maxsize" value="10MB" />
			<add key="upload.include_file_pattern" value="" />
			<add key="upload.exclude_file_pattern" value="" />
			<add key="upload.invalid_file_name_msg" value="Error: The name of the file is invalid." />
			<add key="upload.extensions" value="gif,jpg,jpeg,png,zip,pdf" />
			<add key="upload.multiple_upload" value="true" />
			<add key="upload.chunk_size" value="5mb" />
			<add key="upload.overwrite" value="false" />
			<add key="upload.allow_export" value="maxsize,multiple_upload,chunk_size,overwrite,extensions" />
			<add key="upload.allow_override" value="*" />

			<!-- Create document options -->
			<add key="createdoc.fields" value="Document title=title" />
			<add key="createdoc.include_file_pattern" value="/^[a-z\.]+$/i" />
			<add key="createdoc.exclude_file_pattern" value="" />
			<add key="createdoc.invalid_file_name_msg" value="Error: The name of the document is invalid." />
			<add key="createdoc.allow_export" value="fields" />
			<add key="createdoc.allow_override" value="*" />

			<!-- Create directory options -->
			<add key="createdir.include_directory_pattern" value="" />
			<add key="createdir.exclude_directory_pattern" value="" />
			<add key="createdir.invalid_directory_name_msg" value="Error: The name of the directory is invalid." />
			<add key="createdir.allow_override" value="*" />

			<!-- Edit options -->
			<add key="edit.include_file_pattern" value="" />
			<add key="edit.exclude_file_pattern" value="" />
			<add key="edit.extensions" value="html,htm,txt" />
			<add key="edit.allow_override" value="*" />

			<!-- Zip options -->
			<add key="zip.include_file_pattern" value="" />
			<add key="zip.exclude_file_pattern" value="" />
			<add key="zip.extensions" value="" />
			<add key="zip.allow_override" value="*" />

			<!-- Unzip options -->
			<add key="unzip.include_file_pattern" value="" />
			<add key="unzip.exclude_file_pattern" value="" />
			<add key="unzip.extensions" value="*" />
			<add key="unzip.allow_override" value="*" />

			<!-- Rename options -->
			<add key="rename.include_file_pattern" value="" />
			<add key="rename.exclude_file_pattern" value="" />
			<add key="rename.invalid_file_name_msg" value="Error: The name of the document is invalid." />
			<add key="rename.include_directory_pattern" value="" />
			<add key="rename.exclude_directory_pattern" value="" />
			<add key="rename.invalid_directory_name_msg" value="Error: The name of the directory is invalid." />
			<add key="rename.allow_override" value="*" />

			<!-- Download options -->
			<add key="download.include_file_pattern" value="" />
			<add key="download.exclude_file_pattern" value="" />
			<add key="download.extensions" value="gif,jpg,jpeg,png,zip,pdf,htm,html,txt" />
			<add key="download.allow_override" value="*" />

			<!-- Authentication -->
			<add key="authenticator" value="ASPNETAuthenticator" />
			<add key="authenticator.login_page" value="login_session_auth.aspx" />
			<add key="authenticator.allow_override" value="*" />

			<!-- External authenticator -->
			<add key="ExternalAuthenticator.external_auth_url" value="auth_example.php" />
			<add key="ExternalAuthenticator.secret_key" value="someSecretKey" />
			<add key="ExternalAuthenticator.session_prefix" value="filemanager_" />

			<!-- Session Authenticator -->
			<add key="SessionAuthenticator.logged_in_key" value="mc_isLoggedIn" />
			<add key="SessionAuthenticator.groups_key" value="mc_groups" />
			<add key="SessionAuthenticator.user_key" value="mc_user" />
			<add key="SessionAuthenticator.path_key" value="mc_path" />
			<add key="SessionAuthenticator.rootpath_key" value="mc_rootpath" />
			<add key="SessionAuthenticator.config_prefix" value="filemanager" />

			<!-- IP Authenticator -->
			<add key="IPAuthenticator.ip_numbers" value="10.0.0.78" />

			<!-- Local filesystem options -->
			<add key="filesystem.local.access_file_name" value="mc_access" />
			<add key="filesystem.local.allow_override" value="*" />

			<!-- Stream options -->
			<add key="stream.mimefile" value="mime.types" />
			<add key="stream.include_file_pattern" value="" />
			<add key="stream.exclude_file_pattern" value="/(\.aspx|\.config|\.cs)$/i" />
			<add key="stream.extensions" value="*" />
			<add key="stream.allow_override" value="*" />

			<!-- Logging options -->
			<add key="log.enabled" value="false" />
			<add key="log.level" value="error" />
			<add key="log.path" value="logs" />
			<add key="log.filename" value="{level}.log" />
			<add key="log.format" value="[{time}] [{level}] {message}" />
			<add key="log.max_size" value="100k" />
			<add key="log.max_files" value="10" />

			<!-- Image manager options -->
			<add key="imagemanager.urlprefix" value="../../../imagemanager/?type=im" />
			<add key="imagemanager.allow_override" value="*" />
			<add key="imagemanager.allow_export" value="urlprefix" />
		</config>
	</FileManagerPlugin>

	<CorePlugin>
		<plugins>
			<plugin class="Moxiecode.FileManager.FileManagerPlugin,MCFileManager" />
		</plugins>
	</CorePlugin>
</configuration>
